 table, th, td 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding:2px 4px;
            font:15px Verdana;
        }
        th {
            font-weight:bold;
        }
		
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-right: 16px solid blue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility:hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.body {
	background-color: #1c1c1c;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: white;
	font-family: arial;
}

.header {
	background-color: #232323;
	color: white;
	padding:5px 10px;
	height: 50px;
	box-shadow: 0px 4px 8px -3px rgba(17, 17, 17);
	position: fixed;
	top: 0px;
	width: 100%;
}

.branding-logo {
	height: 50px;
	float: left;
}

.right-header{
	float: right;
	max-height: 50px;
	margin-right: 30px;
}

.welcome-message{
	font-size: 12px;
	float: left;
	padding-right: 5px;
	line-height: 50px;
}

.welcome-message-user-data{
	font-size: 14px;
	color: #2196f3;
	float: right;
	font-weight: bold;
	line-height: 50px;

}


.main {
	background-color:transparent;
	margin: 60px auto 40px;
	padding: 20px 20px 20px 20px;
}

.design {
	background-color: #F44336;
	
}


.holdings {
	color: #2196f3;
	background-color: #121212;
	/*/line-height: 200px;/*/
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	height: 200px;
	max-height: 300px;
	/*/margin-top: 10px;/*/
	padding: 20px 20px;
	
}

.account-balance {
	float: left;
	position: absolute;
}

p#holdings-data {
	margin-top: auto;
	margin-bottom: auto;
	/*/display: block;/*/
    line-height: 200px;
}

.financials {

	margin-top: 20px;
	
}


.footer {
	background-color: #232323;
	color: white;
	font-size: 12px;
	/*/margin-top: 20px;/*/
	padding:5px 10px;
	height: 50px;
	
}

footer-branding-logo {
	height: 50px;
	float: right;
	
}



